*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 1px 1px 3px rgb(165, 149, 149) ;
}

.right-div{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    width: 30%;
}

.mainBanner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    background-image: url("https://www.w3schools.com/w3images/architect.jpg");
}